# Ignore environment configuration files
environment.json

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform lock files
.terraform.lock.hcl

# Ignore Terraform provider plugins
terraform/.terraform/providers/*

# Ignore any zip files
*.zip

# Ignore Python compiled files and caches
*.pyc
*.pyo
*.pyd
__pycache__

# Ignore any log files
*.log
